* {
    box-sizing:border-box;
}

body, html {
    margin: 0px;
    height: 100%;
}

main {
    margin-top: 0px;
    width:100%;
    /* height:100%; */
    background-color:lightgrey;
    overflow:hidden;
}

.center {
    display:block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width:80%;
}

.wrapper {
    width:80%;
    height:100%;
    margin: auto;
    overflow:hidden;
    
}

.leftBox {
    width: 48%;
    height: 50%;
    margin: 0px 0px 20px 0px;
    float:left;
    border: 2px solid;
    display:block;
    background-color: floralwhite;
    border-color:lightcoral;
    padding: 5px;
}

.rightBox {
    width: 48%;
    margin: 0px 0px 20px 0px;
    float:right;
    border: 2px solid;
    display:inline;
    background-color: floralwhite;
}

.topDiv {
    border: 2px solid;
    padding: 20px;
    margin-bottom: 20px;
    border-color:gold;

}

.bottomDiv {
    clear:both;
    border: 2px solid;
    padding: 20px;
    border-color:chartreuse;
}

.navRight {
    /* border: 2px solid; */
    /* border-color:black; */
    /* padding: 5px; */
    /* margin-top: 30%; */
    /* margin-top: 4.25%; */
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: medium;
    margin-top: 80px;
    margin-right: 3%;
    float:right;
}


.navbar {
    height: 108px;
    background-color:rgb(170, 226, 226);
    
}

/* a.navHome {
    margin: auto 0px auto 10px;
    margin-left: 10px;
} */

.navHome {
    margin: 25px 0px 10px 10px;
    border-radius: 10%;
    filter: opacity(80%);
}

.navbuttons {
    padding: 5px;
    color:black;
}

.dropdown {
    overflow: hidden;
    display:inline-block;
}

.dropdown-content {
    display:block;
    position: absolute;
    background-color:lightgray;
    /* min-width: 100px; */
    /* z-index:1; */
}



a.navbuttons:hover {
    text-decoration: none;
    font-weight: bold;
}

a.navbuttons:active {
    text-decoration: none;
    font-weight: bold;
}

a.navbuttons:link {
    text-decoration: none;
}
